[Desktop Entry]
Type=Application
Name=Terminal
Comment=A shell in the sandbox
Exec=lxterminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
